In [190]:
## importing models
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB 
from sklearn.svm import SVC

from sklearn.ensemble import VotingClassifier

import pandas as  pd

from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split


import warnings
warnings.filterwarnings("ignore")

In [191]:
import os
os.listdir()

['HEartDiseases.ipynb', '.ipynb_checkpoints', 'Heart.csv']

In [192]:
df = pd.read_csv("Heart.csv")

In [193]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [194]:
df.shape

(303, 15)

In [195]:
df.ChestPain.value_counts()

asymptomatic    144
nonanginal       86
nontypical       50
typical          23
Name: ChestPain, dtype: int64

In [196]:
df.Thal.value_counts()

normal        166
reversable    117
fixed          18
Name: Thal, dtype: int64

In [197]:
df[['Thal', 'ChestPain', 'AHD']] = df[['Thal', 'ChestPain', 'AHD']].apply(lambda x: pd.factorize(x)[0])

In [198]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,0,145,233,1,2,150,0,2.3,3,0.0,0,0
1,2,67,1,1,160,286,0,2,108,1,1.5,2,3.0,1,1
2,3,67,1,1,120,229,0,2,129,1,2.6,2,2.0,2,1
3,4,37,1,2,130,250,0,0,187,0,3.5,3,0.0,1,0
4,5,41,0,3,130,204,0,2,172,0,1.4,1,0.0,1,0

In [199]:
df.head() #Gurudeb*#2022

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,0,145,233,1,2,150,0,2.3,3,0.0,0,0
1,2,67,1,1,160,286,0,2,108,1,1.5,2,3.0,1,1
2,3,67,1,1,120,229,0,2,129,1,2.6,2,2.0,2,1
3,4,37,1,2,130,250,0,0,187,0,3.5,3,0.0,1,0
4,5,41,0,3,130,204,0,2,172,0,1.4,1,0.0,1,0

In [200]:
df.rename(columns =  {'AHD': "target"}, inplace = True)

In [201]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,target
0,1,63,1,0,145,233,1,2,150,0,2.3,3,0.0,0,0
1,2,67,1,1,160,286,0,2,108,1,1.5,2,3.0,1,1
2,3,67,1,1,120,229,0,2,129,1,2.6,2,2.0,2,1
3,4,37,1,2,130,250,0,0,187,0,3.5,3,0.0,1,0
4,5,41,0,3,130,204,0,2,172,0,1.4,1,0.0,1,0

In [202]:
df.dropna(inplace=True)

In [203]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          0
target        0
dtype: int64

In [204]:
df.shape

(299, 15)

In [205]:
X=df.iloc[:,1:14]
y = df.iloc[:,14]

In [206]:
X.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
0,63,1,0,145,233,1,2,150,0,2.3,3,0.0,0
1,67,1,1,160,286,0,2,108,1,1.5,2,3.0,1
2,67,1,1,120,229,0,2,129,1,2.6,2,2.0,2
3,37,1,2,130,250,0,0,187,0,3.5,3,0.0,1
4,41,0,3,130,204,0,2,172,0,1.4,1,0.0,1

In [207]:
y.head()

0    0
1    1
2    1
3    0
4    0
Name: target, dtype: int64

In [208]:
X_train,X_test,y_train, y_test = train_test_split( X,y,test_size=.25,random_state=42)

In [209]:
y_test.head()

283    0
267    1
164    0
9      1
77     0
Name: target, dtype: int64

In [210]:
logReg = LogisticRegression()
randmFst = RandomForestClassifier()
svcClf = SVC()
nbGclf = GaussianNB()

In [211]:
for clf in (logReg, randmFst, svcClf, nbGclf):
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print(clf.__class__.__name__, accuracy_score(y_test, y_pred))

LogisticRegression 0.84
RandomForestClassifier 0.8666666666666667
SVC 0.6533333333333333
GaussianNB 0.7733333333333333

In [212]:
# voting classifier

voting_clf = VotingClassifier(estimators =[('lr', logReg),('nb',randmFst), ('rf', svcClf), ('svc', nbGclf)])

for clf in (logReg, randmFst, svcClf, nbGclf,voting_clf):
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print(clf.__class__.__name__, accuracy_score(y_test, y_pred))

LogisticRegression 0.84
RandomForestClassifier 0.8133333333333334
SVC 0.6533333333333333
GaussianNB 0.7733333333333333
VotingClassifier 0.8

In [213]:

log_clf = LogisticRegression()
#rnd_clf = RandomForestClassifie()
svm_clf = SVC()
voting_clf = VotingClassifier( estimators=[('lr', log_clf), ('svc', svm_clf)], voting='hard')
voting_clf.fit(X_train, y_train)
from sklearn.metrics import accuracy_score
for clf in (log_clf,svm_clf, voting_clf):
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print(clf.__class__.__name__, accuracy_score(y_test, y_pred))

LogisticRegression 0.84
SVC 0.6533333333333333
VotingClassifier 0.72